<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lam Duyên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/98df298cac.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dnoitd3ju/image/upload/v1750419936/xkztap7wz2xxzi86flwx.jpg" type="image/png"/>
    <style>
        /* Thêm Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        /* Toàn bộ giao diện */
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f4f7fa;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            min-height: 60vh;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h1 {
            color: #44693D;
            font-weight: bold;
            font-size: 26px;
        }

        .about-content p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
        }

        .about-content strong {
            color: #4CAF50;
        }

        /* Responsive Design */
        @media (max-width: 576px) {
            h1 {
                font-size: 22px;
            }

            .about-content p {
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
<th:block th:replace="layout/user-layout :: layout">
    <th:block th:fragment="pageContent">
        <section id="page-wrapper">
            <div class="pan-banner">
                <a href="https://lamduyen.pics/pages/về lam duyên ">
                    <img src="https://res.cloudinary.com/dnoitd3ju/image/upload/v1750576052/vcjyu3o7ckvxr6uu4tq5.png" class="lazyload img-loop" alt="Product Image">
                </a>
            </div>
            <div class="container-fluid">

                <div class="pan-about-list ">

                    <div class="pan-about-item row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="pan-info">
                                <h3 class="pan-title">
                                    Về Lam Duyên
                                </h3>
                                <p class="pan-para">
                                    Lam Duyên là nơi giao thoa hài hoà giữa giá trị văn hoá truyền thống và góc nhìn thẩm mỹ của người phụ nữ hiện đại.
                                    <br />
                                    <br />
                                    Chúng mình tin rằng, vẻ đẹp tính nữ không nằm ở sự phô bày, mà ở sự tinh tế, kín đáo và đầy bản lĩnh. Lam Duyên lựa chọn tơ tằm, tơ, lụa và gấm – những chất liệu mang hồn Á Đông, làm nền cho mỗi thiết kế, kết hợp cùng nghệ thuật đính kết thủ công tỉ mỉ và kỹ thuật dựng phom hiện đại, để tôn lên vẻ dịu dàng mà không kém phần cuốn hút của nàng.
                                    <br />
                                    <br />
                                    Mỗi thiết kế là một câu chuyện Lam Duyên muốn kể – bằng đường kim, mũi chỉ và kỹ nghệ đính kết thủ công – dấu ấn riêng của Lam Duyên, những chi tiết được nâng niu như chính người mặc nó.
                                    <br />
                                    <br />
                                    Lam Duyên  mang đến không đơn thuần là những bộ y phục. Đó là lời thủ thỉ về vẻ đẹp tính nữ – kín đáo mà quyến rũ, dịu dàng nhưng mãnh liệt. Là nơi kết tinh của giá trị văn hoá truyền thống và nhãn quan thẩm mỹ đương thời, mỗi thiết kế đều mong muốn được đồng hành cùng nàng – trong từng khoảnh khắc thường nhật hay dịp trọng đại, để nàng luôn cảm thấy tự tin, thanh thoát và hạnh phúc.

                                </p>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="pan-img pd-left80">
                                <img src="https://res.cloudinary.com/dnoitd3ju/image/upload/v1750415707/rzyncfpiziqgujbstnxc.jpg" class="lazyload img-loop" alt="Product Image">
                            </div>
                        </div>
                    </div>

                    <div class="pan-about-item row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="pan-info">
                                <h3 class="pan-title">
                                    Nguồn cảm hứng
                                </h3>
                                <p class="pan-para">
                                    Lam Duyên khởi nguồn từ niềm say mê vẻ đẹp dịu dàng, kín đáo mà đầy cuốn hút của người phụ nữ Á Đông. Từ phần xương quai xanh mong manh, cổ tay thon gọn hay đường võng lưng mềm mại – những “vẻ đẹp rất đàn bà” ấy đã trở thành cảm hứng bất tận cho mỗi thiết kế mà chúng mình dành riêng cho nàng.
                                    <br />
                                    <br />
                                    Chúng mình tin rằng, vẻ đẹp không đến từ sự phô trương, mà từ cách người phụ nữ lặng lẽ tỏa sáng qua từng cử chỉ, ánh nhìn và cả sự lựa chọn trang phục mỗi ngày. Lam Duyên vì thế chọn hướng đi riêng: tôn vinh tính nữ bằng tinh thần truyền thống trong hình hài đương đại.
                                    <br />
                                    <br />
                                    Những phom dáng quen thuộc như áo dài, váy liền, cổ tàu, tay liền hay dáng suông, từng hiện diện trong ký ức của bao thế hệ nay được Lam Duyên tái hiện lại qua lăng kính đương đại. Trên nền chất liệu truyền thống như lụa, tơ tằm, gấm… cùng kỹ thuật dựng phom chỉn chu và nghệ thuật đính kết thủ công tỉ mỉ, mỗi thiết kế trở thành một mảnh ghép dịu dàng kể lại câu chuyện về văn hoá, ký ức và vẻ đẹp tính nữ trong đời sống người phụ nữ Việt hôm nay.
                                    <br />
                                    <br />
                                    Lam Duyên không chạy theo xu hướng. Chúng mình kể chuyện, bằng đường kim, mũi chỉ. Bằng sự nâng niu cái đẹp truyền thống và khát vọng gìn giữ những giá trị xưa trong nhịp sống đương đại.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="pan-img pd-left80">
                                <img src="https://res.cloudinary.com/dnoitd3ju/image/upload/v1750415477/hawmrjtwcroibmpocxwu.jpg" class="lazyload img-loop" alt="Product Image">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="pan-bottom-img mg-bottom-50">

                    <div class="row">
                    </div>

                </div>

                <div class="pan-content">

                </div>
            </div>
        </section>
    </th:block>
</th:block>

<!-- Optional JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>